<template>
  <div id="wrapper">
      <div id="controls">
        <div id="drag-bar" style="-webkit-app-region: drag">
          <center style="color:white" >
            <template v-if="active_video !== null">
              {{ active_video.filename.substring( 0, active_video.filename.lastIndexOf(".") ) }}
            </template>
          </center>
        </div>
      </div>

      <div id="player-wrapper" style="width:100%;" class="vertical-center">
        <video id="player" playsinline controls>
          <source></source>
        </video>
      </div>


      <span v-if="!view_list" style="position:fixed; z-index 123123; top:1vw; left:1vw;"> 
        <button @click="view_list = true"> ☰ </button>
        
        <button v-if="random_video" style="color:lightgreen;border-color:lightgreen;" @click="random_video = !random_video"> 🔀 </button>
        <button v-else @click="random_video = !random_video"> 🔀 </button>

        <button @click="fullscreen()"> ⛶ </button>
        
      </span>

      <span v-if="view_list"> 
        <div id="music-list-wrapper">
          <input class="search_video" type="text" v-model="search_string" />

          <br/>

          <ul id="music_list">

            <template v-for="(element,index) in playlist">
              <template v-if=" search_string.length == 0 || element.filename.toLowerCase().indexOf(search_string.toLowerCase()) >= 0">

                <li class="special_active" v-if="element == active_video" >
                  {{ element.filename }}
                </li>

                <li @click="play_video(index)" v-if="element !== active_video" >
                  {{ element.filename }}
                </li>

              </template>

            </template>


          </ul>

          <div style="padding:15px; float:left; display:block;width:100%">
            <button  @click="open_dir()"> Another dir </button>
            <button  @click="reload_playlist()"> Update </button>
            <button  @click="view_list = false"> Close </button>
            



          </div>

        </div>
      </span>

  </div>
</template>

<script>

  import Navigator from './Global/Navigator'
  import SystemInformation from './LandingPage/SystemInformation'
  import Plyr from 'plyr';

  const path = require('path')
  const fs = require("fs")

  const remote = require("electron").remote;

  const {dialog} = require('electron').remote;

  export default {
    name: 'home-page',
    components: { Navigator, SystemInformation },
    data () {
      return {
        playlist_path: "",
        playlist: [],
        view_list: false,
        active_video : null,
        player: null,
        random_video: false,
        search_string: ""
      }
    },

    methods : {
      
      fullscreen() {
        if (remote.getCurrentWindow().isFullScreen()) {
          remote.getCurrentWindow().setFullScreen(false);
        } else {
          remote.getCurrentWindow().setFullScreen(true);
        }
      },

      open_dir( ) { 
        const self = this;
        var playlist_path = dialog.showOpenDialog({
          properties: ['openDirectory']
        })[0];
        
        self.$data.playlist_path = playlist_path

        self.reload_playlist()
      },

      reload_playlist( ) {
        const self = this;
        const playlist_path = self.$data.playlist_path


        var playlist_ready = []
        var counter = 0;

        fs.readdir(playlist_path, function (err, files) {
            //handling error
            if (err) {
                return console.log('Unable to scan directory: ' + err);
            } 
            //listing all files using forEach
            files.forEach(function (file) {

              var file_path =  path.join( playlist_path, file)

              if ( fs.lstatSync(file_path).isDirectory() )
                return
              
              var ext = file.substring(file.lastIndexOf('.')+1, file.length) || file;
              console.log(ext)
              if( ext.toLowerCase() !== "mp4" && ext.toLowerCase() !== "webm" )
                return;

              // Do whatever you want to do with the file
              playlist_ready.push(   
                {
                  path: "file://" + file_path,
                  filename: file
                }
              )
    
            });
            
            self.$data.playlist = playlist_ready
        })
      },

      play_video( number ) {
        console.log("Play!")
        var playlist = this.$data.playlist;
        var player = this.$data.player;
         
        player.source = {
              type: 'video',
              title: 'Example title',
              autoplay: true,
              sources: [
                  {
                      src: playlist[number].path,
                      type: 'video/mp4'
                  },
                  {
                      src: playlist[number].path,
                      type: 'video/webm'
                  }
              ]
        }

        this.$data.active_video = playlist[number]
      }
    },

    mounted () {

      var ipc = require('electron').ipcRenderer;

      ipc.on("Get:Document_sizes", (event, data) => {
        console.log("Called from parent")
        event.sender.send("Update:Document_sizes", {
          width: document.getElementById("player-wrapper").offsetWidth,
          height: document.getElementById("player-wrapper").offsetHeight
        })
      })

      var self = this;
      const player = new Plyr('#player', {
        title: 'Example Title',
        controls: ["play","progress","mute","volume"]
      });
      self.$data.player = player;
      


      player.on("play", () => {
        ipc.send("Update:Document_sizes", {
          width: document.getElementById("player-wrapper").offsetWidth,
          height: document.getElementById("player-wrapper").offsetHeight
        })
      })

      player.on('ready', event => {
        const instance = event.detail.plyr;
      });

      self.open_dir()

      var playlist_path = self.$data.playlist_path

      var playlist_ready = []
      var counter = 0;

      fs.readdir(playlist_path, function (err, files) {
          //handling error
          if (err) {
              return console.log('Unable to scan directory: ' + err);
          } 
          //listing all files using forEach
          files.forEach(function (file) {

            var file_path =  path.join( playlist_path, file)

            if ( fs.lstatSync(file_path).isDirectory() )
              return
            
            var ext = file.substring(file.lastIndexOf('.')+1, file.length) || file;
            console.log(ext)
            if( ext.toLowerCase() !== "mp4" && ext.toLowerCase() !== "webm" )
              return;

            // Do whatever you want to do with the file
            playlist_ready.push(   
              {
                path: "file://" + file_path,
                filename: file
              }
            )
  
          });
          
          self.$data.playlist = playlist_ready

          self.play_video( counter )

          player.on("ended", () => {

            var playlist = self.$data.playlist
            var active_video = self.$data.active_video
            var counter = playlist.indexOf( active_video )
            var random = self.$data.random_video

            if( random ) {

              var tmp_random;
              
              do {
                tmp_random = Math.floor((Math.random() * playlist.length - 1 ) );
              } while ( counter == tmp_random )

              counter = tmp_random;

            } else {
              counter++;
            }

            

            if( counter >= playlist.length )
              counter = 0;

            if( counter <= 0 ) 
              counter = playlist.length - 1 
            
            self.play_video( counter )

          })


          
      });


    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
  #wrapper{
    height:100%;
  }
  
  .vertical-center {
    width:100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  body{
    font-family:arial;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  button {
    background: rgba(80,80,80,0.05);    
    color: rgba(255,255,255,0.8);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 4px;
  }
  
  #title {
   font-size:20px; 
   font-family:arial;
   padding:17px;
   color: rgba(255,255,255,0.4);
  }

  #controls #drag-bar {
    position:absolute;
    background:rgba(100,100,100,0.5);
    width: 50vw;
    float:left;

    left: 1vw;

    min-height: 20px;
    left:25vw;
    height: 1.2vh;     
    z-index:5;
  }

  #music-list-wrapper .search_video {
    padding: 0 0 0 0.8vw; 
    width:100%;
    background: rgba(0,0,0, 0.3);
    border:1px solid lightgray;
    color:lightgray;
    line-height:1.5;
    font-size: calc( 8px + 0.8vw );
  }

  #music-list-wrapper{
    position:absolute;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width:100%;
    height:100%;
    padding:5vw; 
    background: rgba(0,0,0,.4); 
    box-sizing: border-box;
  }

  #music_list{  
    left: 0;
    margin: 0;
    float: left;
    position: relative;
    height: calc( 100% - 120px );
    width: 100%;
    z-index: 123123;
    overflow-y: scroll;
    padding: 1vh 0 0 0;
    box-sizing: border-box;
  }

  #music_list li.special_active{
    background: rgba(180,100,180,.4);  
  }

  #music_list li:hover {
    background: rgba(100,100,150,0.3);    
  }

  #music_list li {
    cursor:pointer;
    padding: calc( 1.9vh + 3px );
    font-size: calc( 8px + 0.8vw );
    padding:1vh; 
    background: rgba(47,47,47,.6);    
    width:100%;
    color: white;
    font-family: arial;
    border-bottom: 1px solid rgba(148, 156, 148, 0.48);
  }
</style>
