<template>

  <div>
    <h1> Manga downloader ! </h1>
    <br/>

    <router-link :to="{ path: '/' }">
      <button class="alt"> Home </button>
    </router-link>

    <router-link :to="{ path: 'errors' }">
      <button class="alt"> Errors </button>
    </router-link>

    
    <a href="/"> 
      <button class="alt"> Edit mangas </button>
    </a>

  </div>

</template>

<script>
  export default {
    data () {
      return {
        
      }
    },
    methods:{
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style scoped>
  p {
    color: black;
    margin-bottom: 10px;
  }

  button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  button.alt {
    color: #42b983;
    background-color: transparent;
  }
</style>
