<template>
  <div class="floating_popup" v-if="show" >
    <div class="wrapper"> 
      <textarea v-model="jsonData"> 
  
      </textarea> 
      <button style="float:left;" @click="save" > Save </button>
      <button style="float:left;" @click="close" > Close </button>
    </div>



    
  </div>
</template>

<script>
  import Navigator from '@/components/Global/Navigator'
  import SystemInformation from '@/components/LandingPage/SystemInformation'
  import mangaDownloader from '@/server/downloader.js'

  export default {
    name: 'floating-form',
    components: { Navigator, SystemInformation },
    
    data () {
      return {
        jsonData: "",
        show: true
      }
    },

    props: ["value"],

    created () {

      var objectData = this.$props.value;
      this.$data.jsonData = JSON.stringify(objectData, null, 2);

    },
    

    methods: {

      open (link) {
        this.$electron.shell.openExternal(link)
      },

      run () {
        mangaDownloader.start()
      },

      save() {
        this.$emit("save", JSON.parse( this.$data.jsonData ) )
      },
      
      close() {
        this.$emit("close", true );
      }

    }
  }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  .floating_popup {
    height:100%;
    width:100%;
    position:fixed;
    background: rgba(255,255,255,0.5);
    z-index:0;
    top:0;
    left: 0;
  }

  textarea {
    height:80vh;
    width:100%;
  }

  .wrapper {    
    width: 80%;
    top:10vh;
    margin:0 auto;
    position: relative;

  }

</style>
