<template>



      <router-view></router-view>


</template>

<script>

  export default {
    name: 'manga_reader',
    mounted () {

    }
  }


</script>

<style>
  * { overflow:hidden; }
  body {
    padding: 0px;
    margin: 0px;
    background:black;
    width:100%;
    height:100%;
  }

  html{
    height:100%;
    width:100%;
    padding:0;
  }


</style>

